html {
    background-color: #777;    
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
footer {
    margin: 20px 0 0 0;
    padding: 10px;
    background-color: #f1f1f1;
    padding-bottom: 40px;
}
del {
  color: red;
}
.icon-6 {
    font-size: 20em;
}
.icon-5 {
    font-size: 130px;
}
.icon {
    margin-top: -2px;
    margin-left: 1px;
}
.sample-code-name {
    float: right;
    padding: 3px 7px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    -webkit-border-radius: 0px 4px 0px 4px;
    -moz-border-radius: 0px 4px 0px 4px;
    border-radius: 0px 4px 0px 4px;
    font-size: 12px;
    font-weight: bold;
    color: #9da0a4;
}
h4 {
    margin-top: -5px;
}